header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
}
header .nav-wrapper {
  width: 70%;
}
header .nav-wrapper nav {
  width: 100%;
}
header .nav-wrapper nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
header .nav-wrapper nav ul .right, header .nav-wrapper nav ul .left {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
header .nav-wrapper nav ul li {
  font-size: 20px;
  opacity: 0.5;
  transition-property: opacity, transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
header .nav-wrapper nav ul li:hover {
  opacity: 1;
  transform: scale(1.1);
}
header .nav-wrapper nav ul li.wrapper-logo {
  border-bottom: none;
  opacity: 1;
}
header .nav-wrapper nav ul li.active {
  opacity: 1;
}
header .nav-wrapper nav ul li a {
  display: block;
  height: 40px;
  text-decoration: none;
  color: #f1f4f5;
  padding: 0 25px;
}
header .nav-wrapper nav ul li a .text-wraper {
  padding-top: 10px;
  border-bottom: 1px solid white;
}
header .nav-wrapper nav ul li a .text-wraper span {
  font-size: 20px;
  display: block;
  margin-bottom: 5px;
}
header .nav-wrapper nav ul li figure {
  height: 40px;
  width: auto;
}
header .nav-wrapper nav ul li figure img {
  width: auto;
}

.hero {
  width: 100%;
  height: 800px;
  background: radial-gradient(circle, #74a4c5 0%, #36607c 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .arrow {
  z-index: 4;
  cursor: pointer;
  height: 800px;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f1f4f5;
}
.hero .arrow figure {
  transition-duration: 0.5s;
  width: 30px;
  height: 50px;
}
.hero .wrapper-back {
  margin-left: 20px;
  left: 0;
}
.hero .wrapper-back:hover figure {
  transform: scale(1.2);
}
.hero .wrapper-back:active figure {
  transform: scale(2);
}
.hero .wrapper-next {
  margin-right: 20px;
  right: 0;
}
.hero .wrapper-next figure {
  transform: rotate(180deg);
}
.hero .wrapper-next:hover figure {
  transform: scale(1.2) rotate(180deg);
}
.hero .cover {
  width: 100%;
  height: 100%;
}
.hero .cover .cover_elem {
  position: absolute;
  width: 100%;
  height: 800px;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .cover .text {
  z-index: 2;
  font-size: 80px;
  color: #f1f4f5;
  text-align: center;
  overflow: hidden;
}
.hero .cover .text p {
  text-shadow: 2px 2px 4px black;
  display: none;
  transition-duration: 0.3s;
  transform: translateX(-100vw);
}
.hero .cover .text p.active {
  display: block;
  transform: translateX(0);
}
.hero .cover .text p.transition-next {
  transform: translateX(-100vw);
}
.hero .cover .text p.transition-back {
  transform: translateX(100vw);
}
.hero .cover .background {
  transition-duration: 0.5s;
  z-index: 1;
}
.hero .cover .background.transition {
  opacity: 0;
}
.hero .cover .background figure {
  width: 400px;
  height: auto;
  opacity: 0.8;
}
.hero .cover .background figure img {
  display: none;
}
.hero .cover .background figure img.active {
  display: block;
}
.hero .wrapper-pagination {
  width: 100%;
  height: 800px;
  position: absolute;
  top: 0;
  left: 0;
}
.hero .wrapper-pagination .pagination {
  z-index: 4;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .wrapper-pagination .pagination .dot-wrapper {
  padding: 0 10px;
  cursor: pointer;
}
.hero .wrapper-pagination .pagination .dot {
  border-radius: 50%;
  background-color: #f1f4f5;
  width: 15px;
  height: 15px;
  opacity: 0.5;
}
.hero .wrapper-pagination .pagination .dot.active {
  opacity: 1;
}

.about-wrapper {
  width: 100%;
  height: 100%;
  background-color: #f1f4f5;
  padding: 1px 0;
}
.about-wrapper .about {
  width: 70%;
  margin: 0 auto;
  color: #5c6972;
  text-align: center;
}
.about-wrapper .about h2 {
  width: 100%;
  font-size: 30px;
  margin: 30px 0;
}
.about-wrapper .about h2 + p {
  font-size: 18px;
  margin-bottom: 100px;
}
.about-wrapper .about section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.about-wrapper .about section article {
  margin: 0 15px;
}
.about-wrapper .about section article figure {
  width: 80%;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}
.about-wrapper .about section article figure img {
  height: auto;
}
.about-wrapper .about section article h3 {
  font-weight: bold;
}

body {
  background-color: #74a4c5;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}

figure {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
figure img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.title {
  font-family: "Courgette", cursive;
}

/*# sourceMappingURL=styles.css.map */
