header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
}
header .nav-wrapper {
  width: 70%;
}
header .nav-wrapper nav {
  width: 100%;
}
header .nav-wrapper nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
header .nav-wrapper nav ul .right, header .nav-wrapper nav ul .left {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
header .nav-wrapper nav ul li {
  font-size: 20px;
  opacity: 0.5;
  transition-property: opacity, transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
header .nav-wrapper nav ul li:hover {
  opacity: 1;
  transform: scale(1.1);
}
header .nav-wrapper nav ul li.wrapper-logo {
  border-bottom: none;
  opacity: 1;
}
header .nav-wrapper nav ul li.active {
  opacity: 1;
}
header .nav-wrapper nav ul li a {
  display: block;
  height: 40px;
  text-decoration: none;
  color: #f1f4f5;
  padding: 0 25px;
}
header .nav-wrapper nav ul li a .text-wraper {
  padding-top: 10px;
  border-bottom: 1px solid white;
}
header .nav-wrapper nav ul li a .text-wraper span {
  font-size: 20px;
  display: block;
  margin-bottom: 5px;
}
header .nav-wrapper nav ul li figure {
  height: 40px;
  width: auto;
}
header .nav-wrapper nav ul li figure img {
  width: auto;
}

.hero {
  width: 100%;
  height: 800px;
  background: radial-gradient(circle, #74a4c5 0%, #36607c 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .arrow {
  z-index: 4;
  cursor: pointer;
  height: 800px;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f1f4f5;
}
.hero .arrow figure {
  transition-duration: 0.5s;
  width: 30px;
  height: 50px;
}
.hero .wrapper-back {
  margin-left: 20px;
  left: 0;
}
.hero .wrapper-back:hover figure {
  transform: scale(1.2);
}
.hero .wrapper-back:active figure {
  transform: scale(2);
}
.hero .wrapper-next {
  margin-right: 20px;
  right: 0;
}
.hero .wrapper-next figure {
  transform: rotate(180deg);
}
.hero .wrapper-next:hover figure {
  transform: scale(1.2) rotate(180deg);
}
.hero .cover {
  width: 100%;
  height: 100%;
}
.hero .cover .cover_elem {
  position: absolute;
  width: 100%;
  height: 800px;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .cover .text {
  z-index: 2;
  color: #f1f4f5;
  text-align: center;
  overflow: hidden;
}
.hero .cover .text p {
  font-size: 80px;
  text-shadow: 2px 2px 4px black;
  display: none;
  transition-duration: 0.3s;
  transform: translateX(-100vw);
}
.hero .cover .text p.active {
  display: block;
  transform: translateX(0);
}
.hero .cover .text p.transition-next {
  transform: translateX(-100vw);
}
.hero .cover .text p.transition-back {
  transform: translateX(100vw);
}
.hero .cover .background {
  transition-duration: 0.5s;
  z-index: 1;
}
.hero .cover .background.transition {
  opacity: 0;
}
.hero .cover .background figure {
  width: 370px;
  height: auto;
  opacity: 0.8;
}
.hero .cover .background figure img {
  display: none;
}
.hero .cover .background figure img.active {
  display: block;
}
.hero .wrapper-pagination {
  width: 100%;
  height: 800px;
  position: absolute;
  top: 0;
  left: 0;
}
.hero .wrapper-pagination .pagination {
  z-index: 4;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .wrapper-pagination .pagination .dot-wrapper {
  padding: 0 10px;
  cursor: pointer;
}
.hero .wrapper-pagination .pagination .dot {
  border-radius: 50%;
  background-color: #f1f4f5;
  width: 15px;
  height: 15px;
  opacity: 0.5;
}
.hero .wrapper-pagination .pagination .dot.active {
  opacity: 1;
}

.about-wrapper {
  width: 100%;
  height: 100%;
}
.about-wrapper .about {
  width: 70%;
  margin: 0 auto;
  color: #5c6972;
  text-align: center;
}
.about-wrapper .about h2 {
  width: 100%;
  margin: 30px 0;
}
.about-wrapper .about h2 + p {
  font-size: 18px;
  margin-bottom: 100px;
}
.about-wrapper .about section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.about-wrapper .about section article {
  margin: 0 15px;
}
.about-wrapper .about section article figure {
  width: 80%;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 40px;
}
.about-wrapper .about section article figure img {
  height: auto;
}
.about-wrapper .about section article h3 {
  font-weight: bold;
}

.percentage {
  background-color: #74a4c5;
  width: 100%;
  position: relative;
}
.percentage .graphic-description-wrapper {
  color: #f1f4f5;
  padding-top: 50px;
  padding-bottom: 150px;
  width: 66%;
  margin-left: 25%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.percentage .graphic-description-wrapper .description {
  width: 50%;
}
.percentage .graphic-description-wrapper .description a {
  color: #2c2c2c;
  padding: 10px 30px;
  margin-top: 40px;
  display: inline-block;
  background-color: #f1f4f5;
  margin-left: 30px;
}
.percentage .graphic-description-wrapper .graphic {
  width: 50%;
}
.percentage .graphic-description-wrapper .graphic .bar {
  margin-top: 20px;
  position: relative;
}
.percentage .graphic-description-wrapper .graphic .bar .draw {
  margin-top: 4px;
  width: 100%;
  height: 10px;
  background-color: #f1f4f5;
  opacity: 0.5;
}
.percentage .graphic-description-wrapper .graphic .bar .fill {
  width: 70%;
  height: 10px;
  background-color: #f1f4f5;
  opacity: 1;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.percentage .graphic-description-wrapper .graphic .bar:nth-child(1) .text small:nth-child(2) {
  margin-left: 168px;
}
.percentage .graphic-description-wrapper .graphic .bar:nth-child(1) .fill {
  width: 60%;
}
.percentage .graphic-description-wrapper .graphic .bar:nth-child(2) .text small:nth-child(2) {
  margin-left: 118px;
}
.percentage .graphic-description-wrapper .graphic .bar:nth-child(2) .fill {
  width: 52%;
}
.percentage .graphic-description-wrapper .graphic .bar:nth-child(3) .text small:nth-child(2) {
  margin-left: 233px;
}
.percentage .graphic-description-wrapper .graphic .bar:nth-child(3) .fill {
  width: 74%;
}
.percentage .background {
  position: absolute;
  top: -12%;
  right: 77vw;
}
.percentage .background figure {
  width: 250px;
  height: auto;
  transform: rotate(-25deg);
}
.percentage .background figure img {
  height: auto;
}

.products-wrapper {
  width: 100%;
}
.products-wrapper .products {
  width: 70%;
  margin: 0 auto;
  color: #5c6972;
}
.products-wrapper .products h2 {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}
.products-wrapper .products p {
  text-align: center;
}
.products-wrapper .products section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 80px 0;
  gap: 50px;
}
.products-wrapper .products section a {
  text-decoration: none;
  color: #5c6972;
}
.products-wrapper .products section a article:hover figure {
  transform: scale(1.2);
}
.products-wrapper .products section a article figure {
  transition-duration: 1s;
  width: 150px;
  height: 150px;
  margin: 0 auto;
}
.products-wrapper .products section a article figure img {
  width: auto;
}
.products-wrapper .products section a article h3 {
  width: 100%;
  text-align: center;
}

footer {
  background-color: #2c2c2c;
  width: 100%;
  color: #f1f4f5;
  padding-top: 40px;
}
footer .wrapper-svg {
  width: 15px;
  height: 15px;
}
footer .wrapper-svg svg {
  height: 100%;
  width: 100%;
}
footer .grid {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  align-items: flex-start;
  margin: 0 auto;
  margin-bottom: 40px;
}
footer .grid .grid-area > p:nth-child(1) {
  font-weight: bold;
}
footer .grid .grid-area:nth-child(2), footer .grid .grid-area:nth-child(3) {
  margin-top: 20px;
}
footer .grid .grid-area.socials .logo {
  width: 150px;
  height: auto;
  margin-bottom: 45px;
}
footer .grid .grid-area.socials .logo figure {
  transform: rotate(-10deg);
  width: 100%;
  height: auto;
}
footer .grid .grid-area.socials .logo figure img {
  height: auto;
}
footer .grid .grid-area.socials p {
  margin: 20px 0;
}
footer .grid .grid-area.socials .buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
}
footer .grid .grid-area.socials .buttons p {
  padding: 0;
  margin: 0;
}
footer .grid .grid-area.socials .buttons a {
  padding: 10px;
}
footer .grid .grid-area.tweets > p {
  margin-left: 26px;
}
footer .grid .grid-area.tweets .tweet {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin-bottom: 20px;
  text-decoration: none;
  color: #f1f4f5;
}
footer .grid .grid-area.tweets .tweet p {
  width: 75%;
  margin: 0;
  padding-right: 30px;
}
footer .grid .grid-area.form form {
  font-size: 0;
  margin: 40px 0;
}
footer .grid .grid-area.form form input {
  text-align: center;
  padding: 15px;
  border: none;
  outline: none;
  margin: 0;
}
footer .grid .grid-area.form form input[type=submit] {
  padding-right: 25px;
  padding-left: 25px;
  background-color: #9c7841;
  transition-duration: 0.5s;
}
footer .grid .grid-area.form form input[type=submit]:hover {
  box-shadow: 4px 4px 10px #161616;
}
footer .grid .grid-area.form hr {
  opacity: 0.5;
  width: 70%;
  text-align: left;
  margin: 0;
}
footer .grid .grid-area.form hr + p {
  margin: 0;
  margin-top: 10px;
}
footer .grid .grid-area.form hr + p a {
  color: #9c7841;
  text-decoration: none;
}
footer address {
  width: 100%;
  text-align: center;
  background-color: #161616;
  padding: 20px 0;
  margin: 0;
}
footer address small {
  line-height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer address small a {
  margin-left: 8px;
  text-decoration: none;
  color: #9c7841;
}
footer address small .wrapper-svg {
  display: inline-block;
  margin: 5px;
}

body {
  background-color: #f1f4f5;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}

figure {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
figure img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.title {
  font-family: "Courgette", cursive;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 18px;
}
p.small {
  font-size: 16px;
}

.button {
  text-decoration: none;
  transition-duration: 0.3s;
}
.button:hover {
  box-shadow: 0px 0px 12px #36607c;
}
.button:active {
  box-shadow: 0px 0px 30px #36607c;
  font-weight: bold;
}

.svg_elem path {
  fill: #9c7841;
}

/*# sourceMappingURL=styles.css.map */
