@use 'base'
@import 'header'
@import 'hero'
@import 'about'

body
    background-color: base.$color_blue
    margin: 0
    padding: 0
    font-family: 'Source Sans Pro', sans-serif

figure
    margin: 0
    padding: 0
    display: flex
    align-items: center
    justify-content: center

    img
        margin: 0
        padding: 0
        width: 100%
        height: 100%

.title
    font-family: 'Courgette', cursive